---
title: "Junodevv Blog"
---
<div class="section-wrap">
    <div class="section-contents">
        <div class="section-contents-title-wrap">
            <h1>Latest Posts</h1>
            <a href="/post.html">more</a>
        </div>
        <ul class="list-style">
            {% for post in site.posts limit: 3 %}
                <li>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>{{ post.excerpt }} </p>
                    <p>
                        {{ post.date | date: "%y/%m/%d"}}
                        {% if post.tags %}
                         | <img src="../../../../assets/images/tagicon.png" width="15px">
                            {% for tag in post.tags %}
                                <a href="/tags/#{{tag}}" class="a-style-sky">#{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div class="section-contents">
        <div class="section-contents-title-wrap">
            <h1>AboutMe for 우아한테크코스</h1>
            <a href="/about.html">more</a>
        </div>
        <div>
             <p>lee jun o</p>
        </div>
    </div>
    <hr>
    <div class="section-contents">
        <div class="section-contents-title-wrap">
            <a href="https://github.com/junodevv" class="a-style-none"><h1>GitHub</h1></a>
            <a href="https://github.com/junodevv">보러가기</a>
        </div>
    </div>
    <hr>
    <div class="section-contents">
        <div class="section-contents-title-wrap">
            <h1>Project</h1>
            <a href="/project.html">more</a>
        </div>
    </div>
</div>
