<main class="main-wrap">
    <!-- aside -->
    <aside class="main-aside-category">
        <div>
            <img src="assets/images/asideprofile.jpeg" class="profile" >
            <p>Backend Engineer <br> 취준생 <br> 이준오의 블로그</p>
        </div>
        <ul>
            <li> Algorithm/DataStructure </li>
            <li> Computer Science </li>
            <li> SQL </li>
            <li> Java </li>
            <li> Spring </li>
            <li> HTML/CSS </li>
            <li> Linux </li>
            <li> C </li>
            <li> cloud</li>
        </ul>
    </aside>
    <!-- section -->
    <section>
        {{ content }}
    </section>
</main>