<main class="main-wrap">
    <!-- aside -->
    <aside class="main-aside">
        <div>
            <img src="../../../../assets/images/asideprofile.jpeg" class="profile" >
            <p>Backend Developer <br> 취준생 <br> 이준오의 블로그</p>
        </div>
        <div class="main-aside-category">
            <h3>
                <a href="/category.html" class="a-style-none">
                    <img src="../../../../assets/images/category-icon.jpg" width="15px"> Category
                </a>
            </h3>
            <ul class="list-style aside-list-style">
                {% for category in site.categories %}
                {% assign categoryCount=0 %}
                {% for post in site.posts %}
                    {%if post.category == category.name %}
                        {% assign categoryCount = categoryCount | plus: 1 %}
                    {%endif%}
                {% endfor %}
                <li class="main-category-li">
                    <a href="{{ category.url }}" class="a-style-none">{{ category.name }}</a>
                    <a href="{{ category.url }}" class="a-style-none category-count">{{ categoryCount }}</a>
                </li>
                {% endfor %}
            </ul>
        </div> 
        <div class="main-aside-tags">
            {% include tag.html %}
            <h3>
                <a href="/tags/" class="a-style-none">
                    <img src="../../../../assets/images/tagicon.png" width="15px"> Tags
                </a>
            </h3>
            <ul class="list-style aside-list-style">
                {% for tag in tags limit: 35%}
                <li><a href="/tags/#{{tag}}" class="a-style-sky">{{tag}}</a></li>
                {% endfor %}
                <li><a href="/tags/" class="a-style-none">more</a></li>
            </ul>
        </div>
    </aside>

    <!-- section -->
    
    <section>
        {{ content }}
    </section>
</main>