/* 전체 설정 */

body {
    font-family: 'Apple SD Gothic Neo','Malgun Gothic', arial, sans-serif;
    left: 0;
    margin: 0px;
}
// 글자색
.text-red{
    color:red;
}
.text-gray{
    color:gray;
}
.text-blue{
    color:rgb(75, 75, 237);
}
.text-impact-sky{
    background-color: #CEE3F6;
}
// 메인화면(index) 제목(junodevv) 가운데 정렬
.main-title{
    text-align: left;

}
// list <li> 점 없애기
.list-style{
    list-style-type: none;
}
// 인용블록 css 지정하기 <blockquote> 
blockquote{
    display: block;
    border-left: 4px solid #CEE3F6;
    margin-block-start: 1em;
    margin-block-end: 1em;
    background-color: #ecf1f7;
    padding: 1rem 1rem 1rem 2rem;
    margin-inline-start: 1em; // 왼쪽 margin(default== 40px)
}
.a-style-sky{
    text-decoration: none;
    color: #578aba;
}
/////////////////* navigation *///////////////////
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 8px 8px 0px 8px;
}
.nav-banner{
    font-size: 30px;
    font-weight: bold;
}
.a-style-none{
    text-decoration: none;
    color: black;
}
// 네비게이션에서 선택된 애 속성
.current{
    color: skyblue;
    font-weight: bold;

}
// 네비게이션 속성
.nav-box{
    margin: 10px
}
// 네비게이션 속성 2
nav{
    float: right;
    margin: 10px
}
// 부모 자식관계를 지정해서 내가 원하는 a 태그만 속성을 바꿀수 있다
nav > span > a{
    text-decoration: none;
    color: black;
}

/////////////////* footer */////////////////
// footer구역 설정
footer{
    background-color: #CEE3F6;
    width: 100%;
    bottom: 0px;
    padding: 0%;
    border: 0%;
    position: relative;
}
// 베너 속성 상우하좌
.footer-banner{
   padding: 30px 30px 30px 0px;

}
// footer에서 베너+네비들 속성(정렬)
.footer-banner-nav{
    display: flex;                  // 정렬을 위한 display 로 다양한 속성으로 정렬을 돕는다. 
    justify-content: space-around;  // flex 속성, 각 컨텐츠들이 양쪽으로 동일한 간격을 유지하게 정렬해줌
    align-items: center;            // flex 속성, 각 건텐츠들을 중앙으로 정렬해준다.(수직)
}
//copyright 속성
.footer-copyright{
    padding: 0px 0px 10px 50px;
}
// footer 에 <a> 들 속성
.footer-astyle{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

////////////////* main */////////////////
//main(aside, section) 전체 설정
hr{
    width: 98%
}
.main-wrap{
    display: flex;
    padding: 8px;
}
.main-aside{
    width: 150px;
}
// 카테고리 속성 설정
.main-aside-category{
    overflow-y: auto;
    max-height: calc(100vh - 2em - 2em);
}
// 프로필 사진 속성
.profile{
    width: 130px;
    border-radius: 50%;
}

//section
section{
    margin-left: 8px;
    overflow-x: hidden;
}
.section-contents{
    width: 60vw;
    height: auto;
}
.section-contents-title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside-list-style{
    padding-inline-start: 15px;
}

//////////////* tags *///////////////
.tag-wrap{
    width: 60vw;
}